<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    </head>

    <body>
        <%- include('./partials/header') %>
            </header>
        <!-- slide -->
        <%- include('./partials/carrousel') %>
        <!-- // slide -->
        
        <%- include('./products/card-noticias') %>

        <div class="conteiner-info-home">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur porro sunt natus optio magnam, numquam earum deserunt, perspiciatis nobis totam repellat odio cupiditate accusamus nulla minus ut? Ab, eligendi laborum?</p>
        </div>

        <%- include('./products/card-proyectos') %>

        <%- include('./products/chat_bot') %>

        <%- include('./partials/footer') %> 
</html>